<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761903033342-6f7inn5bhditj5gjroung2ah7lbjt062.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761903033342-6f7inn5bhditj5gjroung2ah7lbjt062</string>
	<key>API_KEY</key>
	<string>AIzaSyBsyCJ4sdEaZI06aD9iarB8TPU6MuW_xCc</string>
	<key>GCM_SENDER_ID</key>
	<string>761903033342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.addingAndRetrievingDataToOrFromFirestoreWithATodoListApp</string>
	<key>PROJECT_ID</key>
	<string>todo-list-with-firestore</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-with-firestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761903033342:ios:ecbbe18cfdae4369872eaf</string>
</dict>
</plist>